/* META
Grassy grass
*/
a:link, a:visited { color: #a5ff40 }

body {
	background: url(grass_city_main_sc.png) #202004;
	color: white;
	font-family: verdana, geneva, sans-serif;
}

table.c1, td.b {
	border: #000000 1px solid;
}

tr.h { background: #614126; }
tr.c { background: #926239; }

td {
	padding: 2px;
}

tr.n1, td.n1 { background: #516541; }
tr.n2, td.n2 { background: #435528; }
tr.n3, td.n3 { background: #314521; }

textarea, input, select, button {
	border: #000000 solid 2px;
	background: #334518;
	color: #FFFFFF;
}

.submit {
	font-weight: bold;
}
