/* META
Terminal
*/
body {
	background-color: #808080;
	font-family: Consolas, monospace;
	color: #28DF10;
}

table.c1, td.b { border: #28DF10 solid 2px; }

td.h {
	font-weight: bold;
}
td {
	padding: 4px;
}

.n1, .n2, .n3, td.h, tr.c, td.b { background: #111111; }

textarea, input, select, button {
	border: #28DF10 solid 2px;
	background-color: #111111;
	color: #28DF10;
	font-family: Consolas, monospace;
	font-size: 8pt;
}
