/* META
Terminale Stracarico (SquidEmpress)

*/
a:link		{color: deepskyblue }
a:visited	{color: deepskyblue }
a:active	{color: #FFFFFF}
a:hover		{color: #FFFFFF}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	font-weight: bold;
}
body {
	background-color: #808080;
	font-family: Consolas, Arial, sans-serif;
}
body, table {
	color: #28DF10;
}
td.b {
	border: #28DF10 solid 2px;
}
td.n1, td.n2, td.h, tr.c, td.b {
	background: #111111;
	color: #28DF10;
	padding: 4px;
}
td.h {
	font-weight: bold;
}
tr.h td, tr.c td {
	text-align: left;
}
td.nb {
	color: #28DF10;
}

.sfont {
	font-size: 11px;
	font-family: Consolas, Arial, sans-serif;
}

a[class~="newreply"], a[class~="editforum"], a[class~="newthread"], a[class~="newpoll"] { 
	border: #28DF10 solid 2px;
	background-color: #000000;
    	padding: 3px;
    	padding-left: 6px;
    	padding-right: 6px;
}

textarea, input, select, button {
	border: #28DF10 solid 2px;
	background-color: #000000;
	color: #28DF10;
	font-family: Consolas, Arial, sans-serif;
	font-size: 8pt;
}
.submit {
	border: #28DF10 solid 2px;
	background-color: #000000;
}
input.radio {
	border:	none;
	background: none;
	color: #28DF10;
	font: 8pt Consolas, Arial, sans-serif;
}