/* META
Acid (Ice Man)
*/
a:link, a:visited, a:active {
	text-decoration: none;
	font-weight: bold;
	color: #6FC600;
}
a:hover {
	color: #B3FF00;
	text-decoration: none;
}

body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 10px;
	color: #B4BFAA;
	margin: 0.0 auto;
	padding: 0.0;
	background-color:#050505;
	width: 99%;
}

table {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	color: #B4BFAA;
}

table.c1 {
	border: 0px none;
}

tr.h {
	background-position: center;
	color: #B4BFAA;
	font: 12px Verdana, Tahoma, Arial, sans-serif;
	font-weight: bold;
	background-color: #1D1D1D;
	background-image: url(cellh.gif);
	height: 30px;
}

tr.h a:link, .tdbgh a:visited, .tdbgh a:active{
	text-decoration: none;
	color: #B4BFAA;
}

tr.h a:hover {
	text-decoration: underline;
	color: #93A683;
}

tr.c {
	font-weight: bold;
	color: #B4BFAA;
	background-color: #1D1D1D;
	background-image: url(cellc.gif);
	height: 28px;
}

td.b {
	border-left: #2E2E2E 1px solid;
	border-top: #2E2E2E 1px solid;
}

td.b, td.nb, td.h {
	padding: 1px;
}

tr.n1, td.n1, tr.n2, td.n2, tr.n3, td.n3 {
	background-color: #1D1D1D;
	border-bottom: #000000 1px solid;
	border-left: #2E2E2E 1px solid;
	padding: 3px;
	border-spacing: 2px;
}

.sfont {
	font-size: 0.8em;
}

select, textarea, input, button {
	font-size: 11px;
	font-family: verdana, helvetica, sans-serif;
	vertical-align: middle;
	color: #B4FF00;
	border: 1px solid #B4FF00;
	background-color: #0A0A0A;
}

.submit {
	border: 2px solid #B4FF00;
}

hr {
	color: #000000;
	background-color :#000000;
	border: 0px;
	height: 1px;
}
